@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="radio"] {
  accent-color: purple;
}

/* Import Gotham font with various weights and styles */
@font-face {
  font-family: "Gotham";
  src: url("/assets/font/Gotham-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/assets/font/Gotham-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/assets/font/Gotham-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/assets/font/Gotham-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

/* Set Gotham as the default font */
* {
  font-family: "Gotham", sans-serif;
}

/* scrollbar */
/* Menyesuaikan warna latar belakang dan lebar scrollbar */
::-webkit-scrollbar {
  width: 3px;
  height: 5px;
  margin-left: 10px;
}

/* Warna track scrollbar */
::-webkit-scrollbar-track {
  background: #d9d9d9;
}

/* Warna thumb scrollbar */
::-webkit-scrollbar-thumb {
  background: #b8860e;
}

/* Menghilangkan tombol panah scrollbar */
::-webkit-scrollbar-button {
  display: none;
}
/* scrollbar */
